# Dependencias
node_modules/
package-lock.json

# Compilación
dist/
.vite/

# Configuración local
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
